<body>
    <app-menu></app-menu>
    <section id="container">
        <header id="cabecera">
            <div class="ppal">
                <div class="perfil">
                    <img src="https://i.pinimg.com/736x/1b/14/ac/1b14ac63197b210cd8ecab81e76fe5e5.jpg" class="card-img-top" alt="Responsive image" id="img">
                </div>
                <br>
                <div id="pts">
                    <table> 
                        <h6>Tienes 850 puntos para canjear</h6>
                    </table>
                    <br>
                </div>
            </div>
            <nav class="menu">
                <ul>
                    

                    <li><a href="">Mis compras</a></li>
                    <li><a href="">Mis datos</a></li>
                    <li><a href="">Mis solicitudes de atencion</a></li>
                    <li><a href="">Mis puntos</a></li>
                </ul>
            </nav>
        </header>
        <main id="principal">
            <div class="hCompra">
                <!--tarjeta historial de compra-->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://ripleycl.imgix.net/http%3A%2F%2Fs3.amazonaws.com%2Fimagenes-sellers-mercado-ripley%2F2020%2F06%2F11125717%2Fcusque%25C3%25B1a-lata-24pack.jpg?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=0236f8ef77a91aef4eb4bbfc4090c89f" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </main>
        <footer id="pie">
            <app-pie-pagina></app-pie-pagina>
        </footer>
    </section>
</body>