<app-menu></app-menu>

<div class="cuerpo">
    <div class="card-deck">
        <div class="card">
            <img src="https://ripleycl.imgix.net/http%3A%2F%2Fs3.amazonaws.com%2Fimagenes-sellers-mercado-ripley%2F2020%2F06%2F11125649%2FCORONA-LIGHT1500X1500.png?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=e2bfb4866f652be7f1401ea3bd4b50a7" class="card-img-top" alt="Responsive image" [routerLink]="['/producto']" routerLinkActive="router-link-active" >
        </div>
        <div class="card">
            <div class="infoproducto">
                <div class="card-body">
                    <h5 class="card-title">CERVEZAS</h5>
                    <h4 class="card-subtitle">CERVEZA BUDWEISER BOTELLIN 355CC X24.</h4>
                    <h6 class="card-title">COD: 2000373725140P</h6>
                    <form>
                        <p class="clasificacion">
                          <input id="radio1" type="radio" name="estrellas" value="5"><!--
                          --><label for="radio1">★</label><!--
                          --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                          --><label for="radio2">★</label><!--
                          --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                          --><label for="radio3">★</label><!--
                          --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                          --><label for="radio4">★</label><!--
                          --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                          --><label for="radio5">★</label>
                        </p>
                    </form>
                    <h5 class="card-title">CERVEZAS BUDWEISER</h5>
                    <br>
                    <h5 class="card-title">PRECIO &nbsp;&nbsp;&nbsp; $14.990</h5>
                    <div class="cont">
                        <h6 class="puntos">Con esta compra acumulas 288pts</h6>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="boton">
                        <a class="btn">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                            </svg>
                        AÑADIR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="infoProducto">
    <div class="descripcion">
        <div class="titulo">
            <h3>DESCRIPCIÓN</h3>
        </div>
        <div class="info">
            <h3>CERVEZA BUDWEISER BOTELLIN 355CC X24.</h3>
            <br>
            <h5>Convierte tu navidad en un momento mágico y lleno de felicidad junto a los adornos que Ripley Home tiene para ti.</h5>
        </div>
    </div>
    <div class="especificaciones">
        <div class="titulo">
            <h3>ESPECIFICACIONES</h3>
        </div>
        <div class="info">
            
            <table class="egt">
                <tr>
                    <td>Marca</td>
                    <td>  </td>
                    <td>Budweiser</td>
                </tr>
                <tr>
                    <td>Tipo de Producto</td>
                    <td>  </td>
                    <td>Bebida alcoholica</td>
                </tr>
                <tr>
                    <td>Cantidad</td>
                    <td>  </td>
                    <td> x24</td>
                </tr>
                <tr>
                    <td>Celda 4</td>
                    <td>  </td>
                    <td>Celda 6</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="comentarios">
        <div class="titulo">
            <h3>COMENTARIOS</h3>
        </div>
        <div class="info">
            lala
        </div>
    </div>
    <div class="garantia">
        <div class="titulo">
            <h3>GARANTIA LEGAL Y DEVOLUCIONES</h3>
        </div>
        <div class="info">
            <h3>GARANTÍA LEGAL Y DEL FABRICANTE</h3>
            <br>
            La Garantía legal establece la cobertura dentro de los 3 primeros meses de adquirido el producto ante fallas, defectos de fabricación, no tuviera las características o no corresponda a lo informado al momento de la compra.
            <br>
            <br>
            La Garantía del Fabricante hace referencia a un compromiso de cobertura adicional que podría superar la garantía legal de los 3 primeros meses. Posteriormente, el fabricante es quien será responsable de recepcionar y velar por la garantía dependiendo de las vigencia y las condiciones ofrecidas y establecidas en cada caso.
        </div>
    </div>
</div>

<app-pie-pagina></app-pie-pagina>