.cuerpo {
  margin: 30px;
}
.card-title {
  color: #919191;
}
.card-subtitle {
  margin-bottom: 10px;
}
.puntos {
  color: #000000;
}
.cont {
  padding: 10px;
  background-color: #dfdfdf;
}
.boton {
  text-align: center;
}
.btn {
  background-color: #000000;
  color: #ffffff;
  border: 4px solid #000000;
}
.btn:hover {
  color: aqua;
}
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}
#form p {
  text-align: center;
}
#form label {
  font-size: 20px;
}
input[type="radio"] {
  display: none;
}
label {
  color: grey;
}
.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
label:hover,
label:hover ~ label {
  color: orange;
}
input[type="radio"]:checked ~ label {
  color: orange;
}
.titulo {
  padding: 10px;
  background-color: #d0d0d0;
}
.infoProducto {
  padding: 30px;
}
.info {
  padding: 20px;
}
