<div class="card-body">     <!--lo que esta dentro va a ser como una tarjeta-->
    <div class="row mb-4 bg-light">
        <div class="col-3 text-right">Producto</div>
        <div class="col-2 "></div>
        <div class="col-3">Precio</div>
        <div class="col-2 ">Cantidad</div>
        <div class="col-2">Subtotal</div>
    </div>
    <div class="row">
        <div class="col-12 pr-2 pl-2"
            *ngFor="let producto  of productos"
        >
        <app-producto-card 
            [producto]="producto"  
        >                               <!-- para recibir el producto como input, pq el nfFor lo estoy manejando como producto-->
        </app-producto-card>
        </div> 
        <div class="col-12">
            <p>Para finalizar tu compra debes leer y aceptar las Condiciones de Compra</p>
        </div>
        <div class="col-12">
            <div class="form-group form-check text-center">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label " for="exampleCheck1">He leido y Acepto</label>
            </div>
        </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-info btn-lg">SEGUIR COMPRANDO</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-outline-dark btn-lg">FINALIZAR COMPRA</button>
                    </div>
                </div>
            </div>
        </div>
</div>

