<app-menu></app-menu>
<div id="bloque">
    <div class="container">
        <form>
            <div class="titulo">
                Iniciar Sesión
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre de Usuario o Correo electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Correo Electronico Privado</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
                <div class="text-center">
                    <a href="">&iquest;Olvid&oacute; su contrase&ntilde;a?</a>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">haz click aquí</label>
            </div>
            <a class="btn" [routerLink]="['/MiCuenta']" routerLinkActive="router-link-active" >Iniciar Sesión</a>
        </form>
    </div>
</div>
<app-pie-pagina></app-pie-pagina>