<div class="col-12 mb-3 mt-3 pl-1"> <!-- me ocupa todo el largo del componente, p(izquierda y derecha)-->
    <div class="row bg-light">
     <div class="card mb-3" style="max-width: 540px;">
         <div class="row no-gutters">
           <div class="col-md-4">
             <img src="{{producto.imagen}}" class="card-img" alt="...">
           </div>
           <div class="col-md-8">
             <div class="card-body">
               <h5 class="card-title">{{producto.producto}}</h5>
               <p class="card-text">{{producto.descripcion}}</p>
             </div>
           </div>
         </div>
     </div>
         <div class="col-3"> {{producto.precio | currency: 'CLP '}}</div>
            <td class="product-quantity" data-title="Cantidad">    
                <div class="quantity buttons_added">
                  <input type="button" value="-" class="minus" id="myBtn2" onclick="contador--;myFunction()">
                  <label class="screen-reader-text" for="quantity_5fb960424961d"></label>
                  <input type="number" id="myText" class="input-text qty text" step="1" min="0" max="99" name="cart[fc33073cb57bd68d6df31b8c97c91e93][qty]" value="1" title="Cantidad" size="4" placeholder="" inputmode="numeric">
                  <input type="button" value="+" class="plus" id="myBtn" onclick="contador++;myFunction()">

                  
                </div>
            </td>
    </div>
 </div>
