<app-menu></app-menu>
  <div id="carrocompra">
    <div class="col">
      <!--<p>
      <button class="btn btn-outline-dark" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-shopping-cart" style="color: azure;"> Carro Compra</i>
      </button>
      </p>-->
      <div class="collapse" id="collapseExample">
        <div class="card card-body mb-3"> <!-- la separacion para el borde-->
          <app-productos-carro></app-productos-carro> 
        </div>
      </div>
    </div>
</div>

