<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4 colores">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left" style="background-color: black;">
  
        <div class="container">
  
            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3">
  
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 " style="color: white;">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Sobre Nosotros</h6>
                    <p>Somos una empresa dedicada al comercio Electronico de licores en el país, enfocada en las necesidades que quieren sus clientes, para dar la mejor atención y satisfacción de nuestros productos.
                    </p>
                </div>
                <!-- Grid column -->
  
                <hr class="w-100 clearfix d-md-none">
  
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 " style="color: white;">
                    <h6 class="text-uppercase mb-4 font-weight-bold">iNFORMACIóN</h6>
                    <p>
                        <a href="#!" class="colores">Politicas de Privacidad</a>
                    </p>
                    <p>
                        <a href="#!" class="colores">Politicas de envios</a>
                    </p>
                    <p>
                        <a href="#!" class="colores">Politicas de reembolso</a>
                    </p>
            rt
                    <p>
                        <a href="#!" class= "colores">Preguntas frecuentes</a>
                    </p>
                </div>
                <!-- Grid column -->
  
                <hr class="w-100 clearfix d-md-none">
  
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Encuentranos: </h6>
                    <p>
                        <a target= "_blank" href="https://www.facebook.com/" class="colores">Facebook</a>
                    </p>
                    <p>
                        <a target= "_blank" href="https://www.instagram.com/?hl=es-la" class="colores">Instagram</a>
                    </p>
                    <p>
                        <a target= "_blank" href="https://twitter.com/home?lang=es" class="colores">twitter</a>
                    </p>
          
                </div>
  
                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">
  
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contactanos</h6>
                    <p>
                        <i class="fas fa-home mr-3">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                                <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            </svg>
                        </i> Valparaiso, brasil 1450
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3">  
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                            </svg>
                        </i> + 569 23456788
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                            </svg>
                        </i> bibidor@gmail.com
                    </p>
            
                </div>
        
                <!-- Grid column -->
  
            </div>
            <!-- Footer links -->
  
            <hr>
  
            <!-- Grid row -->
            <div class="row d-flex align-items-center">
  
                <!-- Grid column -->

                <p class="text-center text-md-rigth"> 2020 Reservado por Politicas de la Pagina BIBIDOR           
                </p>

            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">
  
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
  
            </div>
            <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
</footer>
<!-- Footer --> 